<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-lazy-init="false" profile="default"
>

    <!--声明扫描路径，自动根据声明创建bean-->
    <context:component-scan base-package="com.github.shane"/>

    <!--加载配置文件，若没有设置ENV环境变量，则走默认的default-->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:application-default.properties"/>

    <bean class="com.github.shane.config.Test" lazy-init="false" init-method="afterPropertiesSet">
        <constructor-arg name="testKey" value="${test.key}" />
    </bean>
</beans>
