<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="false" profile="default"
>
    <!--声明扫描路径，自动根据声明创建bean-->
    <context:component-scan base-package="com.github.shane"/>

    <!--加载配置文件，若没有设置ENV环境变量，则走默认的default-->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:application-default.properties"/>

    <bean class="com.github.shane.config.Test" lazy-init="false" init-method="afterPropertiesSet">
        <constructor-arg name="testKey" value="${test.key}" />
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- 启用注解驱动spring mvc-->
    <mvc:annotation-driven />
</beans>
